.img {
  max-width: 180px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  border: 0.5px solid var(--primary);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
  box-shadow: 0 4px 2px 0 var(--black);
  transform: translateY(-2px);
}
