.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: 1.25rem;
}
.input{
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}